<a href="https://colab.research.google.com/github/rachit6105/EMG-Controlled-Shooting-Game/blob/main/Assessment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objects and Data Structures Assessment Test

## Test your knowledge.

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: integer decimals etc

Strings: ascii characters

Lists: set of strings arrays or more lists

Tuples: unchangable list

Dictionaries: collection of things with categorization

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [ ]:
100.25=((21-1)**2+1)/4

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [ ]:
print(4 * (6 + 5))

print(4 * 6 +5)

print(4 + 6 * 5)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:
math.sqrt()

In [ ]:
# Square:
**

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [ ]:
s = 'hello'
print(s[1])
# Print out 'e' using indexing

e

Reverse the string 'hello' using slicing:

In [ ]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [ ]:
s ='hello'
# Print out the 'o'

# Method 1:

print(s[4])

o

In [ ]:
# Method 2:

print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [ ]:
# Method 1:
c=[0 for num in range(3)]
print(c)

[0, 0, 0]

In [ ]:
# Method 2:
c = []
i=0
while(i!=3):
  c.append(0)
  i+=1
print(c)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [10]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [11]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [12]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [16]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [25]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [27]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
i mean you can do whatever you want but what do you even mean by sorting dictionary since elements are object and not numbers or letters

## Tuples

What is the major difference between tuples and lists?<br><br>

tuples cant be changed

How do you create a tuple?<br><br>
with ()

## Sets

What is unique about a set?<br><br>

Use a set to find the unique values of the list below:

In [31]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
2 > 3
false

In [ ]:
# Answer before running cell
3 <= 2
false

In [ ]:
# Answer before running cell
3 == 2.0
false

In [ ]:
# Answer before running cell
3.0 == 3
true

In [ ]:
# Answer before running cell
4**0.5 != 2
false

Final Question: What is the boolean output of the cell block below?

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
false

## Great Job on your first assessment!