<a href="https://colab.research.google.com/github/rachit6105/EMG-Controlled-Shooting-Game/blob/main/assessment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [1]:
st = 'Print only the words that start with s in this sentence'

In [11]:
#Code here
lst = st.split()
a=[]
for word in lst:
  if word[0]=='s':
    a.append(word)
print(a)

['start', 's', 'sentence']

______
**Use range() to print all the even numbers from 0 to 10.**

In [8]:
#Code Here
c=[num for num in range(10) if num%2==0 ]
print(c)

[0, 2, 4, 6, 8]

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [10]:
#Code in this cell
a = [num for num in range(1,50) if num%3==0 ]
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [12]:
#Code in this cell
lst = st.split()
for word in lst:
  if len(word)%2==0:
    print('Even')

Even
Even
Even
Even
Even
Even

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [20]:
#Code in this cell
lis = []
for num in range(1,101):
  if num%3==0 :
    num='Fizz'
  elif num%5==0:
    num="Buzz"
  elif num%15==0 :
    num="FizzBuzz"
  lis.append(num)
  print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [24]:
st = 'Create a list of the first letters of every word in this string'

In [25]:
#Code in this cell
lis=[]
for word in st.split():
  lis.append(word[0])
print(lis)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']
['Create', 'a', 'list', 'of', 'the', 'first', 'letters', 'of', 'every', 'word', 'in', 'this', 'string']

### Great Job!