<a href="https://colab.research.google.com/github/sarthakv18/EMG-Controlled-Shooting-Game/blob/main/Functions_and_Methods_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions and Methods Homework

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [ ]:
def vol(rad):
    x=(4/3)*3.14*rad*rad*rad
    return x

In [ ]:
# Check
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [ ]:
def ran_check(num,low,high):
    if low<=num<=high:
      print(num,' is in the range between ',low,' and ',high)
    else:
      print(num,' is not in the range between ',low,' and ',high)

In [ ]:
# Check
ran_check(5,2,7)

5  is in the range between  2  and  7

If you only wanted to return a boolean:

In [ ]:
def ran_bool(num,low,high):
    if low<=num<=high:
      return True
    else:
      return False

In [ ]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output :
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [ ]:
def up_low(s):
    up=0
    low=0
    for x in s:
      if x.isupper():
        up=up+1
      elif x.islower():
        low=low+1
    print('No. of Upper case characters : ',up)
    print('No. of Lower case Characters : ',low)

In [ ]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

No. of Upper case characters :  4
No. of Lower case Characters :  33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [ ]:
def unique_list(lst):
    print(set(lst))

In [ ]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [ ]:
def multiply(numbers):
    x=1
    for i in numbers:
      x=x*i
    return x

In [ ]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed in string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [ ]:
def palindrome(s):
    for i in range (len(s)):
      if s[i]!=s[-1-i]:
        return False
    print('True')

In [ ]:
palindrome('helleh')

True

____
#### Hard:

**Write a Python function to check whether a string is pangram or not.**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: Look at the string module

In [ ]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    for i in alphabet:
      if i not in str1:
        return False
    print('True')

In [ ]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [ ]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

#### Great Job!