# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:BODMAS rule is applicable;typecasting gets done automatically;math lib for sqare root ; ** for exponential 

Strings:indexing starts from 0 ;at the end it starts from -1; [] can be used to get a letter from a string ; for a subpart s[start:end:step] is defined ; if step -1 then reverse happens

Lists:mutable sequences made using []; can be sorted and if updated ,changes get reflected in the main list.

Tuples:immutable sequences made using (); list can be converted into a tuple

Dictionaries:unordered datasets with key-value,cannot be sorted

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [46]:

m=5*20+1.2**2-1.19
print(m)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [2]:
x= 4*(6+5)
y=4*6+5
z=4+6*5
a=3+1.5+4
print(x,y,z,a)

44 29 34 8.5

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

What would you use to find a numberâ€™s square root, as well as its square?

In [4]:
# Square root:
import math
n=25
#sqr_root=math.sqrt(n)
print(math.sqrt(n))

5.0

In [8]:
# Square:
m=5
print(m**2)

25

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [9]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [12]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [10]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[4])

o

In [11]:
# Method 2:
print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [13]:
# Method 1:
list=[0,0,0]
print(list)

[0, 0, 0]

In [21]:
# Method 2:
list=[0 for _ in range(3)]
print (list)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [22]:
list3 = [1,2,[3,4,'hello']]
l1=list3[2]
l1[2]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [23]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [25]:
d = {'simple_key':'hello'}
# Grab 'hello'
a=d['simple_key']
print(a)

hello

In [28]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
m=d['k1']
a=m['k2']
print(a)

hello

In [35]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
m=d['k1'][0]['nest_key'][1][0]
print(m)

hello

In [37]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
m=d['k1'][2]['k2'][1]['tough'][2][0]
print(m)

hello

Can you sort a dictionary? Why or why not?<br><br>


no they cannot be sorted as they are random collections of key-value pairs and thus do not maintain any specific order.

## Tuples

What is the major difference between tuples and lists?<br><br>

In [ ]:
#list are mutable while tuples aren't.
#A list has several built-in methods for adding, removing, or changing items. A tuple does not have many built-in methods, except for count and index

How do you create a tuple?<br><br>
one create a tuple by using ()

## Sets

What is unique about a set?<br><br>

ans . sets unlike sequences (list and tuples )they do not maintain any specific order.They do not allow duplicate elements in it,and are mutable. made using curly brackets

Use a set to find the unique values of the list below:

In [38]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
print(set(list5))

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [39]:
# Answer before running cell
2 > 3

False

In [40]:
# Answer before running cell
3 <= 2

False

In [41]:
# Answer before running cell
3 == 2.0

False

In [42]:
# Answer before running cell
3.0 == 3

True

In [43]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [44]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!