# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [28]:
((((100/20)*2)**2)-0.50)+.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [29]:
a = 4*(6+5)
print(a)
a = 4*6+5
print(a)
a = 4+6*5
print(a)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

Float

What would you use to find a numberâ€™s square root, as well as its square?

In [30]:
# Square root:
import math
a = 50
square_root = math.sqrt(a)
print(square_root)

7.0710678118654755

In [31]:
# Square:
a = 50
square = pow(a,2)
print(square)

2500

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [32]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [33]:
s ='hello'
s = s[::-1]
print(s)
# Reverse the string using slicing

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [34]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[4])

o

In [35]:
# Method 2:
s = 'hello'
print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [36]:
# Method 1:
list = [0,0,0]
print(list)

[0, 0, 0]

In [37]:
# Method 2:
list = [0 for x in range(3)]
print(list)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [38]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [39]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [40]:
d = {'simple_key':'hello'}
print(d['simple_key'])
# Grab 'hello'

hello

In [41]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [42]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
s = d['k1'][0]['nest_key'][1][0]
#Grab hello
print(s)

hello

In [43]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
s = d['k1'][2]['k2'][1]['tough'][2][0]
print(s)

hello

Can you sort a dictionary? Why or why not?<br><br>

Yes they can be sorted either with key or values .

## Tuples

What is the major difference between tuples and lists?<br><br>

Main difference between tuples and list is that list is mutable we can add, remove and modify element whereas Tuples are immutable, meaning once they are created, their content cannot be changed.

How do you create a tuple?<br><br>

In [44]:
#using round bracket ()
tuple1 = (2,3,4)
print(tuple1)

(2, 3, 4)

## Sets

What is unique about a set?<br><br>

A set is mutable we can add and remove elements . BUt it is unorder. In set if any element occur more than its still consider as only one element .

Use a set to find the unique values of the list below:

In [45]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set5 = set(list5)
print(set5)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [46]:
# Answer before running cell
2 > 3

False

In [47]:
# Answer before running cell
3 <= 2

False

In [48]:
# Answer before running cell
3 == 2.0

False

In [49]:
# Answer before running cell
3.0 == 3

True

In [50]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [51]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!