# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Numeric values which are of three types: int (integer values without any decimal point), float (all real values including a decimal point) and complex (imaginary values which have i).

Strings: Array of characters which can be letters, numbers or any special symbols.

Lists: Collection of elements, where we can add, remove or change any element even after the creation of the list. Uses square brackets[]

Tuples: Collection of elements, where we cannot add, remove or change any element after creating the tuple. Uses round brackets()

Dictionaries: Collection of elements like lists, but they have elements coressponding to a key.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [8]:
(400*(pow(5,2))+30-5)/100

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [4]:
a = 4 * ( 6 + 5 )
print(a)
b = 4 * 6 + 5
print(b)
c = 4 + 6 * 5
print(c)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
float

What would you use to find a numberâ€™s square root, as well as its square?

In [1]:
# Square root:
import math
a = 10
b = math.sqrt(a)
print(b)

3.1622776601683795

In [2]:
# Square:
a = 10
b = pow(a,2)
print(b)

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [3]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [4]:
s ='hello'
# Reverse the string using slicing
r = 'hello'[::-1]
print(r)

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [5]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[4])

o

In [6]:
# Method 2:

print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [27]:
# Method 1:
list = [0 for i in range(3)]
print(list)

[0, 0, 0]

In [28]:
# Method 2:
list = [0]*3
print(list)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [9]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [11]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [12]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [13]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [14]:
# Getting a little tricke
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]
#Grab hello

'hello'

In [16]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

Yes, they can be sorted according to either keys or the values.

## Tuples

What is the major difference between tuples and lists?<br><br>

We can add, remove and change the items in list.
But in tuples, we cannot add, remove or change items.

How do you create a tuple?<br><br>

By using round brackets ()

## Sets

What is unique about a set?<br><br>

A set is unordered. It doesn't care about 'where' or 'how many' times an element occurs. It just cares about 'which' element occurs. Also, we can add or remove an element from set, but cannot "change" an element.

Use a set to find the unique values of the list below:

In [26]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

list6 = {1,2,2,33,4,4,11,22,3,3,2}
print(list6)

{1, 2, 3, 4, 33, 22, 11}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [17]:
# Answer before running cell
2 > 3

False

In [18]:
# Answer before running cell
3 <= 2

False

In [19]:
# Answer before running cell
3 == 2.0

False

In [20]:
# Answer before running cell
3.0 == 3

True

In [21]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [22]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!